<div class="sentiment">
    <h3>Roll to Do!</h3>
    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice">
                <ol class="dice-rolls">
                    <li class="roll die d20 {{#if critSuccess}}max{{/if}} {{#if critFail}}min{{/if}}">{{d20Roll}}</li>
                    {{#if d6Roll}}
                    <li class="roll die d6">{{d6Roll}}</li>
                    {{/if}}
                    {{#if attributeModifier}}
                    <li class="roll die attribute-modifier-die" style="background-color:{{attributeBackgroundColor attribute}}">{{attributeModifier}}</li>
                    {{/if}}
                    {{#if swingValue}}
                    <li class="roll die attribute-modifier-die" style="background-color:{{attributeBackgroundColor attribute}}">{{swingValue}}</li>
                    {{/if}}
                </ol>
            </div>
            {{#if additionalDice}}
            <div class="dice-formula">{{additionalDice.formula}}</div>
            <div class="dice-tooltip">
                {{#each additionalDice.dice}}
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{this.formula}}</span>
                            <span class="part-total">{{this.total}}</span>
                        </header>
                        <ol class="dice-rolls">
                            {{#each this.rolls}}
                            <li class="roll {{this.classes}}">{{{this.result}}}</li>
                            {{/each}}
                        </ol>
                    </div>
                </section>
                {{/each}}
            </div>
            {{/if}}
            <div class="roll-to-do-results">
                <h4 class="dice-total roll-to-do-result">To Hit: {{toHit}}</h4>
                <h4 class="dice-total roll-to-do-result" {{#if attribute}} style="background-color:{{attributeBackgroundColor attribute}}" {{/if}}>Effect: {{effect}}</h4>
            </div>
        </div>
    </div>
</div>