<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
    </header>
    <p>
        <label class="color-label" for="colorPicker"> Color: </label>
        <br/>
        <input type="color" name="system.color" id="colorPicker" value="{{data.system.color}}" />
    </p>
    <p>
        <label class="modifier-label" for="modifier"> Modifier: </label>
        <input type="number" name="system.modifier" id="modifier" value="{{data.system.modifier}}" min="0" />
    </p>
    {{#if showCustomTokenImage}}
    <p>
        <label class="custom-token-image-label" for="custom-token-image"> Custom Token Image: </label>
        <br/>
        <img class="custom-token-image" src="{{data.system.customTokenImagePath}}" data-edit="system.customTokenImagePath" height="100" width="100" />
    </p>
    {{/if}}
</form>
