<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="attribute-image" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1><input class="attribute-name" name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
    </header>
    <section class="sheet-body">
        <div class="tab">
            {{#if showDescriptiveName}}
            <p>
                <label class="descriptive-name-label" for="descriptive-name"> Descriptive Name: </label>
                <input type="text" name="system.descriptiveName" id="descriptive-name" value="{{data.system.descriptiveName}}" placeholder="(e.g. Anger, Fishing)" />
            </p>
            {{/if}}
            <p>
                <label class="color-label" for="colorPicker"> Color: </label>
                <br />
                <input type="color" name="system.color" id="colorPicker" value="{{data.system.color}}" />
            </p>
            {{#if showModifier}}
            <p>
                <label class="modifier-label" for="modifier"> Modifier: </label>
                <input type="number" name="system.modifier" id="modifier" value="{{data.system.modifier}}" min="0" />
            </p>
            {{/if}}
            {{#if showCustomTokenImage}}
            <p>
                <label class="custom-token-image-label" for="custom-token-image"> Custom Token Image: </label>
                <br />
                <img class="custom-token-image" src="{{data.system.customTokenImagePath}}" data-edit="system.customTokenImagePath" height="100" width="100" />
            </p>
            {{/if}}
        </div>
    </section>
</form>
