<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="character-image" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="character-name-header">
                <input class="character-name" name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="header-row">
                <div class="header-field-stack health-stack">
                    <label>Health:</label>
                    <div class="health-bar">
                        <input type="number" name="system.health.value" value="{{data.system.health.value}}" />
                        <span> / </span>
                        <input type="number" name="system.health.max" value="{{data.system.health.max}}" />
                    </div>
                </div>
                <div class="header-field-stack speed-stack">
                    <label>Speed:</label>
                    <input type="number" name="system.speed" value="{{data.system.speed}}" />
                </div>
                <div class="header-field-stack experience-stack">
                    <label>Experience:</label>
                    <input type="number" name="system.experience" value="{{data.system.experience}}" />
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="gifts">Gifts</a>
        <a class="item" data-tab="rolls">Rolls</a>
    </nav>

    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-name-column">Name</span>
                <span class="attribute-color-column">Color</span>
                <span class="attribute-modifier-column">Modifier</span>
                <span class="attribute-status-column">Status</span>
                <span class="attribute-status-controls-column">Controls</span>
                <span class="attribute-controls-column"/>
            </header>
            <ol class="list attribute-list">
                {{#each attributes as |attribute index|}}
                <li class="attribute list-item flexrow" data-item-id="{{attribute._id}}">
                    <p class="attribute-name attribute-name-column">
                        {{attribute.name}}
                        {{#if attribute.system.descriptiveName}}
                        ({{attribute.system.descriptiveName}})
                        {{/if}}
                    </p>
                    <p class="attribute-color attribute-color-column" style="background-color:{{attribute.system.color}}" />
                    <p class="attribute-modifier-text attribute-modifier-column">+{{attribute.system.modifier}}</p>
                    <p class="attribute-status attribute-status-column">{{attribute.statusString}}</p>
                    <div class="attribute-status-controls attribute-status-controls-column">
                        {{#if attribute.displayRestoreButton}}<button class="button attribute-restore" type="button" title="Restore">Restore</button>{{/if}}
                        {{#if attribute.displayLockOutButton}}<button class="button attribute-lock-out" type="button" title="Lock Out">Lock Out</button>{{/if}}
                        {{#if attribute.displayWoundButton}}<button class="button attribute-wound" type="button" title="Wound">Wound</button>{{/if}}
                    </div>
                    <div class="attribute-controls attribute-controls-column">
                        <a class="attribute-control attribute-open" title="Open Attribute"> <i class="fas fa-edit"></i> Open</a>
                        <a class="attribute-control attribute-delete" title="Delete Attribute"> <i class="fas fa-trash"></i> Delete</a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="attribute-control attribute-add" title="Add New Attribute"><i class="fas fa-plus"></i> Add New Attribute</a>
            </p>
            <hr class="solid"></hr>
            <p><label>Swing:</label></p>
            <p class="flexrow">
                <select class="swing-attribute-selector" name="system.swing.attributeId">
                    {{#select data.system.swing.attributeId}}
                    <option value={{AttributeIdNoSwing}}>None</option>
                    {{#each attributes as |attribute index|}}
                    {{#if (isStatusNormal attribute)}}
                    <option value="{{attribute._id}}">{{attribute.name}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                {{#if displaySwingValueInput}}
                <input type="number" class="swing-value" name="system.swing.value" value="{{data.system.swing.value}}" min="0" data-dtype="Number" />
                {{/if}}
            </p>
            <p><button class="button drop-swing" type="button" title="Drop Swing">Drop Swing</button></p>
            <p>
                <input type="checkbox" class="enable-swing-token-images" id="enable-swing-token-images" name="system.swingTokenImages.enabled" {{checked data.system.swingTokenImages.enabled}} />
                <label for="enable-swing-token-images">Use Custom Token Images Per Swing</label>
                {{#if data.system.swingTokenImages.enabled}}
            <p>
                <label class="custom-token-image-label" for="custom-token-image">Default Token (No Swing):</label>
                <br />
                <img class="custom-token-image" src="{{data.system.swingTokenImages.defaultTokenImagePath}}" data-edit="system.swingTokenImages.defaultTokenImagePath" height="100" width="100" />
            </p>
            {{/if}}
            </p>
        </div>
        <div class="tab gifts" data-group="primary" data-tab="gifts">
            {{> "systems/sentiment/templates/partials/gift-list.html" title="Primary" equipStatus=GiftEquipStatus.Primary gifts=primaryGifts}}
            {{> "systems/sentiment/templates/partials/gift-list.html" title="Equipped" equipStatus=GiftEquipStatus.Equipped gifts=equippedGifts}}
            {{> "systems/sentiment/templates/partials/gift-list.html" title="Unequipped" equipStatus=GiftEquipStatus.Unequipped gifts=unequippedGifts}}
            <p>
                <a class="gift-control gift-add" title="Add New Gift"><i class="fas fa-plus"></i> Add New Gift</a>
            </p>
        </div>
        <div class="tab rolls" data-group="primary" data-tab="rolls">
            <p><button class="button roll-to-do" type="button" title="Roll to Do">Roll to Do</button></p>
            <p><button class="button roll-to-dye" type="button" title="Roll to Dye">Roll to Dye</button></p>
            <p><button class="button recovery-roll" type="button" title="Recovery Roll">Recovery Roll</button></p>
            <h3>Custom Rolls:</h3>
            <header class="custom-rolls-header flexrow">
                <span class="custom-roll-label-column">Label</span>
                <span class="custom-roll-type-column">Roll Type</span>
                <span class="custom-roll-to-hit-column">To Hit</span>
                <span class="custom-roll-to-effect-column">To Effect</span>
                <span class="custom-roll-controls-column"/>
            </header>
            <ol class="list custom-rolls-list">
                {{#each customRolls as |customRoll index|}}
                <li class="custom-roll list-item flexrow" data-item-id="{{customRoll._id}}">
                    <a class="custom-roll-label-column custom-roll-control custom-roll-execute" title="{{customRoll.name}}"> <i class="fas fa-dice-d20"></i> {{customRoll.name}}</a>
                    <p class="custom-roll-type-column"> {{customRoll.system.rollType}} </p>
                    <p class="custom-roll-to-hit-column"> {{customRoll.system.formulaAddedToHit}} </p>
                    <p class="custom-roll-to-effect-column"> {{customRoll.system.formulaAddedToEffect}} </p>
                    <div class="custom-roll-controls-column custom-roll-controls">
                        <a class="custom-roll-control custom-roll-open" title="Open"> <i class="fas fa-edit"></i> Open</a>
                        <a class="custom-roll-control custom-roll-delete" title="Delete"> <i class="fas fa-trash"></i>Delete</a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="custom-roll-control custom-roll-add" title="New Custom Roll"><i class="fas fa-plus"></i>New Custom Roll</a>
            </p>
        </div>
    </section>
</form>
