<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <ol class="attribute-list">
                {{#each attributes as |attribute id|}}
                <li class="attribute flexrow" data-item-id="{{attribute._id}}">
                    <img class="attribute-image" src="{{attribute.img}}" title="{{attribute.name}}" />
                    <h4 class="attribute-name">{{attribute.name}}</h4>
                    <p class="attribute-color">{{attribute.system.color}}</p>
                    <p class="attribute-modifier">{{attribute.system.modifier}}</p>
                    <p class="attribute-status">{{attribute.statusString}}</p>
                    <div class="attribute-status-controls">
                        {{#if attribute.displayRestoreButton}}<button class="button attribute-restore" type="button" title="Restore">Restore</button>{{/if}}
                        {{#if attribute.displayLockOutButton}}<button class="button attribute-lock-out" type="button" title="Lock Out">Lock Out</button>{{/if}}
                        {{#if attribute.displayWoundButton}}<button class="button attribute-wound" type="button" title="Wound">Wound</button>{{/if}}
                    </div>
                    <div class="attribute-controls">
                        <a class="attribute-control attribute-open" title="Open Attribute"> <i class="fas fa-edit"></i> Open</a>
                        <a class="attribute-control attribute-delete" title="Delete Attribute"> <i class="fas fa-trash"></i> Delete</a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="attribute-control attribute-add" title="Add New Attribute"><i class="fas fa-plus"></i> Add New Attribute</a>
            </p>
            <hr class="solid"></hr>
            <label>Swing:</label>
            <p class="flexrow">
                <select class="swing-attribute-selector" name="swing-attribute-selector">
                    <option value=null>None</option>
                    {{#each attributes as |attribute id|}}
                    {{#if (isStatusNormal attribute)}}
                    <option value="{{attribute._id}}">{{attribute.name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <input type="number" class="swing-value" name="system.swing.value" value="{{data.system.swing.value}}" min="0" data-dtype="Number" />
            </p>
            <p><button class="button drop-swing" type="button" title="Drop Swing">Drop Swing</button></p>
            <p><button class="button roll-to-do" type="button" title="Roll to Do">Roll to Do</button></p>
            <p><button class="button roll-to-dye" type="button" title="Roll to Dye">Roll to Dye</button></p>
        </div>
    </section>
</form>
