<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h1><input name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
    </header>
    <section class="sheet-body">
        <div class="tab">
            <p>
                <label class="custom-roll-type-label" for="rollType">Base Roll Type:</label>
                <br />
                <select class="custom-roll-type-selector" name="system.rollType" id="rollType">
                    {{selectOptions rollTypeOptions selected=data.system.rollType}}
                </select>
            </p>
            {{#if showToHit}}
            <p>
                <label class="custom-roll-to-hit-label" for="toHit">Bonus to Hit:</label>
                <input type="text" name="system.formulaAddedToHit" id="toHit" value="{{data.system.formulaAddedToHit}}" />
            </p>
            {{/if}}
            <p>
                <label class="custom-roll-to-effect-label" for="toEffect">Bonus to Effect:</label>
                <input type="text" name="system.formulaAddedToEffect" id="toEffect" value="{{data.system.formulaAddedToEffect}}" />
            </p>
        </div>
    </section>
</form>
