.sentiment .window-content {
	height: 100%;
	padding: 5px;
	overflow-y: hidden;
}

.sentiment form {
	height: 100%;
}

.sentiment .sheet-header {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.sentiment.sheet.character .sheet-header {
	flex: 0 0 100px;
}

.sentiment.sheet.attribute .sheet-header,
.sentiment.sheet.gift .sheet-header {
	flex: 0 0 64px;
}

.sentiment .sheet-header .character-image {
	flex: 0 0 100px;
	height: 100px;
	margin-right: 10px;
}

.sentiment .sheet-header .attribute-image,
.sentiment .sheet-header .gift-image {
	flex: 0 0 64px;
	height: 64px;
	margin-right: 10px;
}

.sentiment .sheet-header .header-fields {
	flex: 1;
}

.sentiment .sheet-header .character-name-header {
	padding: 0px;
	border-bottom: 0;
}

.sentiment .sheet-header .character-name-header .character-name {
	width: 100%;
	height: 100%;
	margin: 0 0 5px 0;
}

.sentiment .sheet-header .attribute-name,
.sentiment .sheet-header .gift-name {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.sentiment .header-row {
	display: flex;
}

.sentiment .sheet-header .header-fields .header-field-stack {
	display: block;
	height: 40px;
	align-items: center;
	text-align: center;
}

.sentiment .sheet-header .header-fields .health-stack {
	width: 50%;
}

.sentiment .sheet-header .header-fields .speed-stack,
.sentiment .sheet-header .header-fields .experience-stack {
	width: 25%;
}

.sentiment .health-bar,
.sentiment .roll-to-do-results {
	display: flex;
	align-items: center;
}

.sentiment .health-bar .input {
	width: 100px;
    height: 28px;
}

.sentiment .sheet-body,
.sentiment .section .sheet-body,
.sentiment .sheet-body .tab .editor,
.sentiment .sheet-body .description,
.sentiment .editor,
.sentiment .editor-content {
	height: 100%;
}

.sentiment .sheet-body {
	overflow: hidden;
}

.sentiment .tabs {
	flex: 0 0 32px;
}

.sentiment .tabs .item.active {
	font-weight: bold;
	text-shadow: none;
}

.sentiment .sheet-body .tab {
	height: 100%;
	overflow-y: auto;
}

.sentiment button {
	margin: 0px;
}

.sentiment .list {
	list-style: none;
	margin: 7px 0;
	padding: 0;
	overflow-y: auto;
}

.sentiment .list .list-item {
	min-height: 30px;
	line-height: 24px;
	padding: 3px 0;
	border-bottom: 1px solid #BBB;
	align-items: stretch;
}

.sentiment .list .list-item .list-image {
	width: 24px;
	height: 24px;
	flex: 0 0 24px;
	margin-right: 5px;
}

.sentiment .attribute-name-column,
.sentiment .attribute-controls-column {
	flex-grow: 2;
}

.sentiment .attribute-color-column,
.sentiment .attribute-modifier-column,
.sentiment .attribute-status-column,
.sentiment .attribute-status-controls-column {
	flex-grow: 1;
}

.sentiment .custom-roll-label-column,
.sentiment .custom-roll-controls-column {
	flex-grow: 2;
}

.sentiment .custom-roll-type-column,
.sentiment .custom-roll-to-hit-column,
.sentiment .custom-roll-to-effect-column {
	flex-grow: 1;
}

.sentiment .attribute-color {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

.sentiment .attribute-modifier-text {
	font-size: var(--font-size-20);
	font-weight: bold;
}

.sentiment .custom-rolls-header,
.sentiment .attributes-header {
	position: sticky;
	top: 0;
	left: 0;
	align-items: center;
	padding: 0 5px;
	margin: 5px 0;
	background: #cfcdc2;
	border: 1px solid #AAA;
	border-radius: 2px;
	text-align: left;
	font-weight: bold;
}

.sentiment .dice-rolls {
	list-style: none;
	margin: 5px 0;
	padding: 0;
	overflow: hidden;
}

.sentiment .dice-rolls .roll,
.sentiment .existing-swing-text {
	min-width: 36px;
	line-height: 36px;
	margin-right: 5px;
	background-size: 36px 36px;
	font-size: var(--font-size-20);

	position: relative;
    float: left;
    background-repeat: no-repeat;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.sentiment .dice-rolls .d6 {
	background-image: url(../../../icons/svg/d6-grey.svg);
}

.sentiment .dice-rolls .d20 {
	background-image: url(../../../icons/svg/d20-grey.svg);
}

.sentiment .dice-rolls .max {
	color: #18520b;
	filter: sepia(0.5) hue-rotate(60deg);
}

.sentiment .dice-rolls .min {
	color: #aa0200;
	filter: sepia(0.5) hue-rotate(-60deg);
}

.sentiment .dice-rolls .attribute-modifier-die {
	background: none;
	margin: 2px 5px 2px 0;
}

.sentiment .dice-rolls .attribute-modifier-die,
.sentiment .swing {
	border-radius: 16px;
	min-width: 32px;
	line-height: 32px;
}

.sentiment .chosen-swing-text {
	margin: 5px 0;
	color: #000;
	font-size: var(--font-size-20);
	font-weight: bold;
	text-align: center;
	line-height: 32px;
}

.sentiment .swing {
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
}

.sentiment .roll-to-do-results .roll-to-do-result {
	flex: 50%
}