.sentiment .window-content {
	height: 100%;
	padding: 5px;
	overflow-y: hidden;
}

.sentiment .form {
	height: 100%;
}

.sentiment .sheet-body,
.sentiment .section .sheet-body,
.sentiment .sheet-body .tab,
.sentiment .sheet-body .tab .editor,
.sentiment .editor,
.sentiment .editor-content {
	height: 100%;
}
